<footer class="page-footer grey-override">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>
                <p class="grey-text text-lighten-4"><b>Email: mrj.lindemans@gmail.com<b></p>
                <p class="grey-text text-lighten-4">Github: <a href="www.github.com/mikkelzu"><b>mikkelzu</b></a></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/systems">Saved system</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Michael is the best programmer ever 2017
            </div>
          </div>
        </footer>
<script src="/js/funcs.js"></script>