<div class="col s12 box">
	<h3>About</h3>

	<div class="row">
		<div class="col s6">
			This is a small system monitoring dashboard application which is still in development. This entire app was written in mostly
			NodeJS and Socket.IO.
		</div>
		<div class="col s6">
			<a href="https://www.nodejs.org"><img class="img-small" src="/images/nodejs banner.png"></a>
		</div>
	</div>
	<div class="row">
		<div class="col s6">
			Visit NodeJS at <a href="https://https://www.nodejs.org">nodejs.org</a>. <br>
			Visit Socket.IO at <a href="https://www.socket.io">socket.io</a>.
		</div>
		<div class="col s6">
			<a href="https://www.socket.io"><img class="img-small" src="/images/socketio.png"></a>
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			I have basically 0 clue on what I'm doing but #YOLO amirite? ayy

		</div>
	</div>
</div>

<script>
	window.onload = function() {
		var $toastContent = $('<span>About</span>');
  		Materialize.toast($toastContent, 2000);

	}
</script>