<div class="col s12 box">
	<h3>Settings</h3>

	<div class="row">
		<div class="col s6">
			This is very still todo lol
		</div>
		<div class="col s6">
			I'm such a good programmer loljk<BR><BR><BR>
			<BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
		</div>
	</div>
</div>
<script>
	window.onload = function() {
		var $toastContent = $('<span>Settings</span>');
  		Materialize.toast($toastContent, 2000);

	}
</script>