<!DOCTYPE html>
<html>
</html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>

	</header>
	<main>
		<div class="container">
				<% include ../partials/content/index %>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>